<!-- Timeline Section -->
    <section id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experience</h2>
                    <h3 class="section-subheading text-muted">Career Highlights</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/1.png" alt="Davis logo">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>WR Davis Engineering Ltd.</h4>
                                    <h4 class="subheading">Electrical EIT</h4>
									</div>
                                <div class="timeline-body">
                                    <p class="text-muted">Active Shaft Grounding Project<br>for Naval Electromagnetic Signature Management</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/2.png" alt="UVic logo">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>University of Victoria</h4>
                                    <h4 class="subheading">Master of Applied Science</h4>
                                </div>
                                <div class="timeline-body">
                                <p class="text-muted">Used COMSOL FEM to Model Inductively Coupled Coils for Wireless Implantable Bio-Sensors</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/3.png" alt="Terragon logo">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Terragon Environmental Technologies Inc.</h4>
                                    <h4 class="subheading">Electrical Engineering Specialist</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Design and hands-on testing of power and control systems for an automated waste gasification process.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/4.jpg" alt="Concordia logo">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                <h4>Concordia University,<br>Department of Electrical & Computer Engineering</h4>
                                    <h4 class="subheading">Design Project Specialist</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Developed Android example apps in Java and supervised engineering students team design projects among other responsibilities.</p>
                                </div>
                            </div>
                        </li>
                       <!--  <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Last item with<br>no image</h4>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section>