<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title-allcaps}}</a>
            </div>
            <!-- The nav links for toggling with button above -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden"> <a href="#page-top"></a>   </li>
                    <li> <a class="page-scroll" href="#about">About</a>  </li>
                    <li> <a class="page-scroll" href="#projects">Projects</a>  </li>
                    <li> <a class="page-scroll" href="#experience">Experience</a> </li>
                    <!-- <li> <a class="page-scroll" href="#contact">Contact</a>  </li> -->
					<!-- <li><a class="page-scroll" href="#contact"><div class="hidden-sm">Contact</div><span class="fa fa-lg fa-comments visible-sm"></span></a></li> -->
					<li><a class="page-scroll" href="#contact">
					<!-- Contact -->
					<!--	Replace text with an icon sometimes -->
							<div class="hidden-sm">Contact</div>
							<span class="fa fa-lg fa-vcard-o visible-sm"></span> 
						</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
			  <div class="intro-lead-in">{{site.data.template.header.intro.lead-in.string}}</div>
              <div class="intro-heading">{{site.data.template.header.intro.heading.string}}</div>
			</div>
			<div class="scroll-but">
			<a href="#about" class="page-scroll header-scroll-but"><i class="fa fa-4x fa-chevron-circle-down"></i></a>
			</div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->